body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}
.menu{
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 20px;
}
header{
    text-align: center;
}
hr{
    background-color: brown;
    color: brown;
    height: 5px;

}
.established{
    font-style: italic;
}
h1{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h1, h2{
    text-align: center;
    font-family: Impact, serif;
}
.item p{
    display: inline-block;
    font-size: 18px;
}
.flavor, .dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%
}
img{
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}
footer{
    text-align: center;
    font-size: 14px;
}
a:active{
    color: black;
}
a:hover{
    color: brown;
}
a{
    color: black;
}
a:visited{
    color: black;
}
.address{
    margin-bottom: 5px;
}